#para1 {
    color: coral;
    text-align: right;
}
h1 {
   color: blueviolet; 
}
h2 {
    color: darkseagreen; 
 }
 h3 {
    color: darkslateblue; 
 }
 h4 {
    color: cornflowerblue; 
 }
 #view {
    color: navy; 
    background-color: cadetblue;
 }
 h6 {
    color: goldenrod; 
 }