#para1 {
    color: coral;
    text-align: right;
}
h1 {
   color: blueviolet; 
}
h2 {
    color: darkseagreen; 
 }
 h3 {
    color: darkslateblue; 
 }
 h4 {
    color: cornflowerblue; 
 }
 #view {
    color: navy; 
    background-color: cadetblue;
 }
 h6 {
    color: goldenrod; 
 }
.font {
    font: 30px;
    color: dimgray;
}
.border {
    border-style: dotted;
    border-color: brown;
}
.text {
    text-align: center;
    
} 
.color {
    color: darkgreen;
} 
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2 {
    text-align: center;
}
a:hover {
    color: crimson;
}
li:last-child{
    color: fuchsia;
}
#para2 {
    color: rgb(200, 150, 80);
}
#para3 {
    color: #ff0000;
}
#para4 {
    color: rgba(255, 0, 0, 0.7);
}
#para5 {
    color: mediumseagreen;
}
p {
    color: firebrick;
}
#para6 {
    color: blueviolet;
}
.grafo {
    color: cornflowerblue;
}
.parent {
    color: forestgreen;
    text-align: left;
}