.grid-container {
    display: grid;    
    grid-template-columns: auto auto auto;
    background-color:cadetblue;
    height: 800px;
    width: 600px;
    padding: 20px;
}

.grid-container div {
    background-color: burlywood;
    width: 100px;
    height: 50px;
    text-align: center;
}
  
.item8 {
    
}

.item9 {
    
}