/* Esercizio Flex grow */

.container {
    width: 300px;
    display: flex;
    gap: 20px;
    margin: 20px;
}

.item1 {
    border: 2px solid rgb(235, 199, 122);
    padding: 10px;
    flex-grow: 0;
}

.item2 {
    border: 2px solid rgb(235, 199, 122);
    padding: 10px;
    flex-grow: 0;
}

.item3 {
    border: 2px solid rgb(235, 199, 122);
    padding: 10px;
    flex-grow: 1;
}