.container {
    display: grid;
    background-color: cadetblue;
}

.container div {
    border: 1px solid rgba(12, 33, 175, 0.93);
    width: 100px;
    height: 50px;
    text-align: center;
    margin: 2px;
}

.item9 {
    grid-column: 8/9;
}