.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    background-color: cadetblue;
    gap: 2px; 
}

.container div {
    border: 1px solid rgba(12, 33, 175, 0.93);
    width: 100px;
    height: 50px;
    text-align: center;
}

.item8 {
    grid-column: span 2;
}

/* Non sono sicura di questo esercizio */