.headerfac { 
    background-color: #E7E9EB;
    height: 60px;
    text-align: center;
    align-content: center;
    margin-bottom: 8px;
    padding: 20px;
}

.navfac {
    background-color: #E7E9EB;
    text-align: center;
    align-content: center;
    margin-bottom: 8px;
    padding: 20px;
}

.mainfac {
    background-color: #E7E9EB;
    height: 150px;
    display: flex;
    gap: 40px;
    
}

.mainfac div {
    text-align: center;
    align-content: center;
}

.content1 {

}

.footfac {
    background-color: #E7E9EB;
    text-align: center;
    margin-top: 8px;
    padding: 20px;
}
