.grid-container {
    display: grid;    
    background-color:cadetblue;
    padding: 20px;
}

.grid-container div {
    background-color: burlywood;
    width: 100px;
    height: 50px;
    text-align: center;   
    border: solid 1px black;
}

.item4 {
    grid-row: 1 / 4;
}